@using MetalcutWeb.Domain.Entity
@model IEnumerable<Delivery>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Delivery ID</th>
            <th scope="col">Requested User</th>
            <th scope="col">Delivery Product</th>
            <th scope="col">Requested Time</th>
            <th scope="col">Is Accepted</th>
            <th scope="col">Price</th>
            <th scope="col">Accept</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var delivery in Model)
        {
            <tr>
                <td>@delivery.Id</td>
                <td>@delivery.RequestedUser.FullName</td>
                <td>@delivery.DeliveryProduct.ProdName</td>
                <td>@delivery.RequestedTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@(delivery.IsAccepted ? "Yes" : "No")</td>
                <td>@delivery.Price</td>
                <td>
                    @if (!delivery.IsAccepted)
                    {
                        <form asp-area="EmployeeManagement" asp-controller="DeliveryAccept" asp-action="AcceptDelivery" asp-route-id="@delivery.Id">
                            <button type="submit">Accept Delivery</button>
                        </form>
                    }
                    else
                    {
                        <p>This delivery is already accepted</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>