@using MetalcutWeb.Areas.Manager.ViewModel
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


@model ProductViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add your custom styles here */
        .product-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 15px;
            margin: 10px;
        }

        .product-image {
            width: 100%;
            height: 200px; /* Adjust as needed */
            object-fit: cover;
            border-radius: 5px;
        }
    </style>
    <title>Product Card</title>
</head>
<body>

<div class="container">
    <a asp-area="Manager" asp-controller="Product" asp-action="CreateProduct">Add products</a>
    <div class="row">
            @if (Model.Products.Count() == 0)
            {
                <h1>No products found</h1>
            }
            else
            {
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                        <div class="product-card">
                            <h4 class="mt-3">@product.ProdName</h4>
                            <p>@product.ProdDescription</p>
                            <img src="~/images/@product.ImagePath" alt="Product Image" class="img-thumbnail" />
                            <p><strong>Price:</strong> @product.Price</p>
                            <a asp-area="Manager" asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.Id">Edit Product</a> <hr />
                            <form asp-area="Manager" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.Id">
                                <button type="submit">Delete Product</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
